<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="catel">
      <section name="logging" type="Catel.Logging.LoggingConfigurationSection, Catel.Core"/>
    </sectionGroup>
  </configSections>
  <catel>
    <logging>
      <listeners>
        <listener type="Catel.Logging.FileLogListener" FilePath="log.txt" IgnoreCatelLogging="true" IsDebugEnabled="true" IsInfoEnabled="true" IsWarningEnabled="true" IsErrorEnabled="true"/>
        <!--<listener type="SolutionValidator.Logging.OutputLogListener" IgnoreCatelLogging="true"
                      IsDebugEnabled="true" IsInfoEnabled="true" IsWarningEnabled="true" IsErrorEnabled="true"/>-->

      </listeners>
    </logging>
  </catel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
