<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\SolutionValidator.Core\packages.config" />
  <repository path="..\src\SolutionValidator.Core.Tests\packages.config" />
  <repository path="..\src\SolutionValidator.UI.Console\packages.config" />
  <repository path="..\src\SolutionValidator.UI.Wpf\packages.config" />
</repositories>